.Illsutration{
    width: 100%;
    margin: 60px 0 100px 0;

    .itemList{
        margin: 50px 0 0 0;
        padding: 0 6%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;

        .item{
            width: 210px;
            height: 210px;
            background-color: antiquewhite;
            margin: 30px 0 0 4%;
            border-radius: 15px;
            position: relative;

            &:hover{
                cursor: pointer;
            }

            .itemImage{
                width: 100%;
                height: 100%;
                margin: 0 0 0 0;
                border-radius: 15px;
                border: 2.5px solid #ccc;
                vertical-align: bottom;
                object-fit: cover;
            }

            .heart{
                width: 35px;
                height: 35px;
                position: absolute;
                bottom: 10px;
                right: 12px;

                &::before{
                    content: "";
                    position: absolute;
                    left: 20px; /* x位置 */
                    top: 0; /* y位置 */
                    width: 20px; /* 幅 */
                    height: 35px; /* 高さ */
                    background: #fff; /* 色 */
                    border-radius: 35px 20px 0 0; /* 丸み */
                    transform: rotate(-45deg); /* 角度調整 */
                    transform-origin: 0 100%; /* 回転の基準点 */
                }

                &::after{
                    content: "";
                    position: absolute;
                    left: 0; /* x位置 */
                    top: 0; /* y位置 */
                    width: 20px; /* 幅 */
                    height: 35px; /* 高さ */
                    background: #fff; /* 色 */
                    border-radius: 20px 35px 0 0; /* 丸み */
                    transform: rotate(45deg); /* 角度調整 */
                    transform-origin: 100% 100%; /* 回転の基準点 */
                }
            }

            .heartRed{
                width: 35px;
                height: 35px;
                position: absolute;
                bottom: 10px;
                right: 12px;

                &::before{
                    content: "";
                    position: absolute;
                    left: 20px; /* x位置 */
                    top: 0; /* y位置 */
                    width: 20px; /* 幅 */
                    height: 35px; /* 高さ */
                    background: #FF5252; /* 色 */
                    border-radius: 35px 20px 0 0; /* 丸み */
                    transform: rotate(-45deg); /* 角度調整 */
                    transform-origin: 0 100%; /* 回転の基準点 */
                }

                &::after{
                    content: "";
                    position: absolute;
                    left: 0; /* x位置 */
                    top: 0; /* y位置 */
                    width: 20px; /* 幅 */
                    height: 35px; /* 高さ */
                    background: #FF5252; /* 色 */
                    border-radius: 20px 35px 0 0; /* 丸み */
                    transform: rotate(45deg); /* 角度調整 */
                    transform-origin: 100% 100%; /* 回転の基準点 */
                }
            }
        }
    }
}

$input-radius: 10px; 

.IllustrationList{
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0 0 0;
    padding: 0 7%;

    .itemListCover{
        width: 190px;
        height: 190px;
        margin: 40px 0 0 4.5%;
        border-radius: $input-radius;
        background-color: antiquewhite;
        border: 1.8px solid #ccc;

        &:hover{
            cursor: pointer;
        }

        .ImgSize{
            width: 100%;
            height: 100%;
            border-radius: $input-radius;
            object-fit: cover;
        }
    }
}

.IllsutrationListDetail{
    width: auto;
    height: 100%;
    margin: 50px 0 0 0;
    padding: 0 10% 0 10%;
    display: flex;
    flex-wrap: wrap;

    .IllsutrationImg{
        width: 900px;
        max-height: 700px;
        border-radius: 20px;
        background-color: rgb(240, 236, 231);

        .Img{
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            border-radius: 20px;
        }
    }

    .detail{
        width: auto;
        margin: 0 auto;
        padding: 0 60px 0 0px;
        height: 100%;

        .title{
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 6px;
        }

        .text{
            margin: 36px 0 0 0;
            font-size: 1.1rem;
        }
    }
}

$input-radius: 10px; 

.contribution{
    width: auto;
    height: 100%;
    margin: 90px 0 100px 0;
    padding: 0 12%;

    .form{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;

        .flex{
            display: flex;
            flex-wrap: wrap;
        }

        .file{
            display: none;
        }
        
        .labelBack{
            width: 580px;
            height: 600px;
            padding: 10px 0;
            border:  2px solid rgb(61, 60, 60);
            background-color: rgb(61, 60, 60);
        
            .labelImage{
                width: 600px;
                height: 600px;
    
                .Img{
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                }
            
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .inputText{
            width: 450px;
            height: 100%;
            margin: 10px 0 0 8%;
            border-radius: $input-radius;
        }

        .title{
            border-top-right-radius: $input-radius;
            border-top-left-radius: $input-radius;
            width: 100%;
            padding: 12px 10px;
        }

        .text{
            width: 100%;
            height: 200px;
            border-bottom-right-radius: $input-radius;
            border-bottom-left-radius: $input-radius;
        }

        .submitWarp{
            margin: 20px 0 0 0;
            text-align: center;

            .submitDetail{
                margin: 40px 0 30px 0;
            }

            .button{
                width: 120px;
                padding: 7px 0px;
                border-radius: 5px;
                background-color: rgb(148, 147, 147);
                font-size: 1.05rem;
                font-weight: 600;
                color: #fff;
            }
        }
    }
}

.search{
    position: relative;
    width: 330px;
    margin: 0 auto;
}

.inputSearch{
    height: 35px;
    width: 330px;
    border-radius: 20px;
    padding-left: 40px;
    background-image: url("https://thumb.ac-illust.com/66/66c2ed76ee24b45362979ae12a79cfd0_t.jpeg");
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: left 3px top 3px;
}

.result{
    left: 4%;
    width: 306px;
    display: block;
    position: absolute;
    top: 43px;
    z-index: 999;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0 0 10px;
}

.resultNone{
    display: none;
}

.resultFont{
    margin: 10px 0;
}