.flex{
    width: auto;
    margin: 50px 5%;
    flex-wrap: wrap;
    display: flex;
}

.item{
    width: 250px;
    height: 100%;
    // background-color: rgb(214, 238, 238);
    background-color: #fff;
    margin: 20px auto 0 auto;
    font-size: 1.1rem;
    flex-wrap: wrap;

    &:hover{
        cursor: pointer;
    }

    .imgback{
        width: 250px;
        height: 140px;

        .img{
            width: 100%;
            height: 100%;
        }
    }

    .title{
        box-sizing: border-box;
        border: 15px solid rgba($color: #000000, $alpha: 0);
        text-align: center;
    }
}

.myselfDetail{
    width: auto;
    position: relative;
    margin: 60px 0 0 0;
    padding: 0 15%;

    .myselfImg{
        width: 100%;
        height: 100%;
        background-color: rgb(194, 167, 167);

        .Img{
            width: 100%;
            height: 100%;
        }
    }

    .introduce{
        width: 100%;
        height: 100%;
        margin: 0 0 50px 0;
        padding: 50px 10% 40px 10%;
        position: relative;
        background-color: rgb(229, 237, 252);

        .title{
            position: relative;
            font-size: 1.7rem;
        }

        .text{
            margin: 50px 0 0 0;
        }
    }
}

.recommendation{
    width: 100%;
    margin: 0 0 60px 0;
    padding: 0 9%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    .item{
        width: 170px;
        height: 170px;
        border-radius: 20px;
        margin: 30px 18px 0 18px;
        padding: 0;

        .image{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
    }
}
